*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primrary-color:white;
    --secondary-color:black;
    --third-color:#1cbbb4;
    --primary-font:"Pacifico", cursive;
    --secondary-font:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 55px;
    color: var(--primrary-color);
    background-color: #1cbbb383;
    font-family: var(--primary-font);
    letter-spacing: 10px;
}
h2{
    font-family: var(--primary-font);
    color: var(--third-color);
    font-size: 20px !important;
}
a{
    color:  white;
    text-decoration: none !important;
}
.heading-text{
    background-color: #1cbbb383;
    color: var(--primrary-color);
    font-size: 20px;
    line-height: 28px;
    font-family: var(--secondary-font);
}
.main-btn{
    color: var(--primrary-color);
    background-color: var(--third-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid var(--third-color);
    box-shadow: 0px 0px 3px 0px var(--third-color);
}
.main-btn:hover{
    background-color: transparent;
}
.main-btn:hover a{
    color: var(--third-color);

}
header{
    background:linear-gradient(rgba(0, 0, 0, 0.155),rgba(0, 0, 0, 0.728)), url("../Assets/bg-img/bg-1.jpg") center/cover;
    height: 100vh;

}
nav .container-fluid .navbar-brand{
    color: var(--third-color);
    font-family: var(--primary-font);
    font-size: 30px;
}
nav .menu a{
    margin-right: 25px;
    font-weight: 600;
}
nav div.menu a.home-link{
    color: var(--third-color) !important;
}
nav .menu a:hover{
    color: var(--third-color);
}
.hero-section{
    padding: 30px 0px;
}
.hero-section .main-btn{
    font-size: 20px;
}
.hero-section h1{
    margin-top: 100px !important;
    line-height: 70px !important;
    margin-bottom: 30px !important;
}
.home .best{
    font-size: 25px;
    letter-spacing: 10px;
}
.home .home-para{
    padding: 10px 90px !important;
}
.home .home-card img{
    color: var(--third-color) !important;
    margin-bottom: 5px; 
}
.feature{
    background: url("../Assets/bg-img/bg-2");
}
.feature .row h2{
    font-size: 35px !important;
    letter-spacing: 10px;
    color: yellow;
}
.feature p{
    color: white ;
    font-size: 18px;
}
.feature .price{
    font-size: 25px;
    font-weight: 700;
}
.about{
    background:url("/Assets/bg-img/bg-3")
}
.about h2{
    font-size: 35px !important;
}
.about p{
    color: black;
}
.cards .card{
    margin-right: 20px;
}
.contact-us .form{
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    
}
.contact-us .form .name input,.email input{
    width: 49%;
    margin: 5px 0px;
    padding: 10px 20px;
    background-color: transparent;
    border-bottom: 2px solid black !important;
    color:  black !important;
    margin-bottom: 15px !important;
    border: none;
}
.name input,.email input,.msg textarea:focus{
    outline: none;
}
.name input::placeholder,.email input::placeholder,.msg textarea::placeholder{
    color:  black !important;
}
.msg textarea{
    color:  black !important;
    background-color:transparent;
    border: none;
    border: 2px solid black;
    width: 99%;
    padding: 20px;
}
.contact-us .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}